* {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color:#fff;
  padding-top:2.4rem;
  color:#fff;
}

#rootContainer {
  box-shadow: 1px 1px 2px #aaa;
}
.boundingContainer {
  padding:1.6rem;
  background: #eceff1;
  color: #39444e;
}

.boundingContainer.horizontalTagContainer {
  background: #a5b4c3;
  display:inline-block;
  overflow:scroll;
  overflow-y: hidden;
  white-space:nowrap;
  box-shadow: inset 0 8px 8px -10px #000, inset 0 -8px 8px -10px #000;
}

#tagSearchContainer {
  padding-bottom: .8rem;
  background: #37474f;
}

#albumArt {
  max-width: 100%;
}

#artistTitle {
  font-size:3rem;
}

#albumTitle {
  font-style: italic;
  display:block;
  margin-bottom:.5rem;
  color:inherit;
}

#mediaPlayer {
  margin-top:1.6rem;
  width:100%;
}

.tag {
  margin-right:1.6rem;
  box-shadow: 1px 1px 4px #444;
  display: inline-block;
}

.tag .text, .tag .button {
  display:inline-block;
  padding-left:1rem;
  padding-right:1rem;
  line-height:3rem;
  background: #4d5b6a;
  text-decoration: none;
  font-size:1rem;
  color:#fff;
}
.tag .button {
  background: #39444e;
}

.tag .text:hover , .tag .button:hover {
  opacity: .5;
}

.tag.active .text {
  background: #039be5;
}
.tag.active .button {
    background: #0277bd;
}

.smalltag {
  margin-right:.4rem;
  display:inline-block;
  margin-bottom: .8rem;
  padding-left:.75rem;
  padding-right:.75rem;
  line-height:2rem;
  font-size:.75rem;
  background: #455a64;
  color:#fff;
  text-decoration: none;
}
.smalltag:hover {
  opacity:.5;
}

#tagQueueContainer {
  padding:1.6rem;
  background: #a5b4c3;
  display:inline-block;
  overflow:hidden;
  overflow-y: hidden;
  white-space:nowrap;
}

#searchbar {
  width:100%;
  min-width:0;
  color:#000;
}

#searchbar, #searchButton {
  padding:0 1rem;
  font-family: 'Nunito', sans-serif;
  display:inline-block;
  line-height:3rem;
  background: #fff;
  font-size:1rem;

  border:0;
  margin-bottom: 1.6rem;
}
#searchButton {
  background: #2196f3;
  text-decoration: none;
  float:right;
  color:#fff;
}
#searchButton:hover {
  opacity:.5
}

@media (max-width: 480px){
  .grid {
    padding: 0;
  }
}
