/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Roboto', sans-serif;
    color:inherit;
    }
    
    html {
    font-size: 62.5%;
    height:100%;
    }
    
    body {
    height:100%;
    font-size:1.6em;
    line-height:1.5;
    font-weight:400;
    color:#100C10;
    }
    
    h1, h2, h3, h4, h5, h6, p, pre code, ul, button, .button{
    margin-bottom: 2rem;
    }
    
    h1 { font-size: 8rem; }
    h2 { font-size: 7rem; }
    h3 { font-size: 6rem; }
    h4 { font-size: 5rem; }
    h5 { font-size: 3rem; }
    h6 { font-size: 2.5rem; }

    #title {
        margin-top:2rem;
    }

    #hero {
        height:100%;
        font-size:8rem;
        line-height: 24rem; 
        -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
        background-image: url("../res/hero.jpg");
        background-repeat: no-repeat;
        background-position: center; 
        margin-bottom: 4rem;
    }